{% extends 'base/base.html' %}
{% block title %}
Mobiles | egrdb.com
{% endblock %}
{% block meta %}
    <meta name="description" content="Popular Mobiles Company Apple, Asus, Google, Huawei, Honor, Lenovo, Lg, Motorola, Nokia, OnePlus, Realme, Redmi, Samsung, Sony, Vivo, Xiaomi">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}



{% block body %}
<br>
<div class="container">
  <div class="row">
      <div class="col-xl-6"><a href="/mobiles/apple"><h3>Apple</h3></a></div>
      <div class="col-xl-6"><a href="/mobiles/asus"><h3>Asus</h3></a></div>
      <div class="col-xl-6"><a href="/mobiles/google"><h3>Google</h3></a></div>
      <div class="col-xl-6"><a href="/mobiles/samsung"><h3>Samsung</h3></a></div>



  </div>
</div>


{% endblock %}