{% extends './base.html' %}
{% block title %}
Password Reset | egrdb.com
{% endblock %}

{% block body %}
        <form class="login-form" method="POST" action="/account/passwordreset/">
    {% csrf_token %}
          <h1>Password Reset</h1>
    {% if error == '' %}
    {% else %}
    <h4 id="massage" style='color:red'>{{error}}</h4>
    {% endif %}
        <div class="txtb" id="get_email">
          <input type="email" name="email" required id="email" placeholder="Email">
        </div>
        <input type="submit" class="logbtn" value="Password Reset" id="hide_value" onclick="send_code()">

        <script>
           function send_code()
          {
            var email = document.getElementById("email").value;
            sessionStorage.setItem("egrdb_password_reset_email", email);
          }
        </script>

      </form>
{% endblock %}
